@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');

/*
Fonts:
-Poppins: 300, 400, 600, 700, 800
-Rubik: 300, 400, 500, 600
*/

:root{
    --primary-color: #ff6b6b;
    --secondary-color: #794afa;
    --secondary-dark-color: #453c5c;

    --wgite-color: #ffffff;
    --ligh-bg-color: #f2f3f5;
    --light-text-collor: #7c899a;
    --border-color: #e5e8ec;
    --dark-color: #0a021c;

    --font-small: 13px;
    --font-smaller: 111px;

    --percent100: 100%;
    --percent50: 50%;

    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;

    --trans-background-color: backgroung-color .3s, color .3s;
    --trans-background: backgroung-color .3s;
    --trans-color: color .3s;



}